%h1 The JERKS

%table
  %tr
    %th
      %td Year
      %td Title
      %td Director
      %td Rating
      %td Runtime
      %td J
      %td E
      %td R
      %td K
      %td S
  =@films.each do |film|
    %tr
      %td=film['release_date']
      %td=film['title']
      %td=film['director_name']
      %td=film['certification']
      %td=film['runtime']
      %td=film['j_seen_bool']
      %td=film['e_seen_bool']
      %td=film['r_seen_bool']
      %td=film['k_seen_bool']
      %td=film['s_seen_bool']
