!!! 5
%html{ lang: 'en' }
  %head
    %title The JERKS
    %meta{ name: 'viewport', content: 'initial-scale=1.0, maximum-scale=1.0' }
    %link{ href: '/stylesheet.css', rel: 'stylesheet' }
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' }
  %body
    %header.site-header
      .row.row__flex
        %div.column.column__flex-one.flex-center
          %h1.site-logo The JERKS
        %div.column.column__flex-three
          %form{ class: 'search-form', id: 'search_form', action: '/search', method: 'get' }
            %input{ class: 'search-input', name: 'q', placeholder: 'Search for a film', type: 'search', value: '' }
        %div.column.column__flex-one.flex-center.text-right
          %nav.site-nav
            %a{ href: '/list'} The List
            %a{ href: '/proposals' } Proposals
            %a{ href: '/logout' } Log out

    %section.site-container
      = yield
