!!! 5
%html{ lang: 'en' }
  %head
    %title The JERKS
    %link{ href: '/stylesheet.css', rel: 'stylesheet' }
  %body
    %header.site-header
      %h1.site-logo The JERKS
      %nav.site-nav
        %a{ href: '/'} The List
        %a{ href: '#' } Proposals
        %a{ href: '#' } Removals

    %section.site-container
      = yield
