!!! 5
%html{ lang: 'en' }
  %head
    %title The JERKS
    %meta{ name: 'viewport', content: 'initial-scale=1.0, maximum-scale=1.0' }
    %link{ href: '/stylesheet.css', rel: 'stylesheet' }
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' }
  %body
    %header.site-header
      %h1.site-logo The JERKS
      %nav.site-nav
        %a{ href: '/'} The List
        %a{ href: '/proposals' } Proposals

    %section.site-container
      = yield
